body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  margin: 0;
  padding: 0;
  background-position: center center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(244, 140, 130, 0.7), rgba(252, 227, 138, 0.7)), url(../assets/images/banner-bird.jpg);
  background-size: cover;
}

.div1c {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.div1 {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  width: 15%;
  position: relative;
}

.div2 {
  width: 70%;
  display: inline-block;
  margin-left: 80px;
  text-align: end;
}

.div1 p {
  color: white;
  font-size: 20px;
  padding: 0;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin-left: 130px;
}
ul li {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px 0 20px;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li a:after {
  margin-top: 10px;
  display: block;
  content: "";
  border-bottom: solid 3px #fce38a;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
ul li a:hover {
  color: #fce38a;
}

img {
  height: 14px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1210px) {
  .div1c {
    display: block;
    width: 950px;
    margin: 0 auto;
  }
}
@media (max-width: 960px) {
  ul {
    width: 90%;
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
  }
  .div1c {
    display: block;
    width: 850px;
    margin: 0 auto;
  }
}
@media (max-width: 825px) {
  ul {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 14px auto;
    text-align: center;
  }
  ul li {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
    padding: 0;
  }
  .div1 {
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    width: 30%;
    vertical-align: top;
    margin-right: 10px;
  }
  .div2 {
    width: 50%;
    display: inline-block;
    text-align: end;
  }
  .div1c {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .div1 p {
    color: white;
    font-size: 15px;
    padding: 0;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .pli .ali .tli {
    display: inlene-block;
    width: 100%;
  }
}
@media (max-width: 602px) {
  ul {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 14px auto;
    text-align: center;
  }
  ul li {
    font-size: 10px;
    text-decoration: none;
    margin: 0 5px;
    text-align: center;
    padding: 0;
  }
  .div1 {
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    width: 30%;
    vertical-align: top;
    margin-right: 5px;
  }
  .div2 {
    width: 50%;
    display: inline-block;
    text-align: end;
    margin: 0;
  }
  .div1c {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .pli .ali .tli {
    display: inlene-block;
    width: 100%;
  }
  img {
    height: 8px;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */